@model IEnumerable<DrChronoWebAPI.Models.drcClient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authorizationEndpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tokenEndpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redirectUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorizationEndpoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tokenEndpoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redirectUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
